/* CONTENEDOR DEL CORAZÓN */
.tree {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 460px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ÁREA DONDE SE FORMA EL CORAZÓN */
.leaves {
    position: relative;
    width: 420px;
    height: 420px;
}

/* CORAZONES INDIVIDUALES */
.heart-leaf {
    position: absolute;
    transform: rotate(45deg);
    animation: fadeIn 0.8s ease forwards;
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.2));
}

.heart-leaf::before,
.heart-leaf::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#ce93d8;
    border-radius: 50%;
}

.heart-leaf::before {
    top: -50%;
    left: 0;
}

.heart-leaf::after {
    left: -50%;
    top: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

